<link rel="import" href="lodash-import.html">
<script type="application/javascript" src="../conduitjs/lib/conduit.min.js"></script>
<script type="application/javascript" src="../postal/lib/postal.min.js"></script>
<script type="application/javascript" src="../postal.preserve/lib/postal.preserve.min.js"></script>
<script type="application/javascript" src="../postal.federation/lib/postal.federation.min.js"></script>
<script type="application/javascript" src="../postal.xframe/lib/postal.xframe.min.js"></script>
<script>
	postal.instanceId("dashboard");
	postal.fedx.addFilter([
		{ channel: "default", topic: "#", direction: "in" },
		{ channel: "webclient", topic: "#", direction: "out" }
	]);
</script>